/*****************************************************************************
                                  Variables
    // Thank You: 
    // https://github.com/taniarascia/primitive/                              
    
******************************************************************************/

/* Containers */

$x-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1200px;

/* Breakpoints */

$mobile: $x-small;
$desktop: $medium;

/* Colors */

$text-color: #565656;
$heading-color: #272727;

/* Typography */

$text-line-height: 1.6;
$heading-line-height: 1.2;
