main {
  margin: 0 auto;
}

.w-x-small {
  max-width: $x-small;
}

.w-small {
  max-width: $small;
}

.w-medium {
  max-width: $medium;
}

.w-large {
  max-width: $large;
}

.w-x-large {
  max-width: $x-large;
}
